Remove OS files:
.DS_Store
.DS_Store?
._*
.sass-cache
Thumbs.db

#Remove miscellaneous:
.idea/
.vscode/
.htaccess

#Remove node modules:
/node_modules/*

#/Remove typings:
/typings/*

#Remove build file:
/public/js/*
/public/css/*
/app/*.js
/app/*.js.map

#Remove libs file