<div *ngIf="hero" class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ hero.imageUrl }}" alt="" />
            <label for="vitality">{{ hero.name }}</label>
            <div name="vitality" class="hero__vitality">
                <div id="health"></div>
                <div id="mana"></div>
            </div>
        </div>
        <div class="col-sm-4">
             <div name="stats" class="panel panel-default">
                <div class="panel-heading">
                    <span class="selectedHero__intro">Class: {{ hero.class.name }}</span>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Strenght: {{ hero.class.strength }}</li>
                        <li>Agility: {{ hero.class.agility }}</li>
                        <li>Condition: {{ hero.class.condition }}</li>
                        <li>Wisdom: {{ hero.class.wisdom }}</li>       
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div *ngIf="inn">
                <div class="panel panel-default" name="usableTask" *ngFor="let task of usableTask">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ task.title }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ task.description }}
                    </div>
                    <div class="panel-footer">Reward: {{ task.reward }}<input class="btn btn-success btn-xs pull-right" type="button" value="Accept" (click)="pickTask(task)"></div>
                
                </div>
                <input class="btn btn-default pull-right" *ngIf="inn" type="button" value="Close Inn" (click)="closeInn()">
            </div>
            <input class="btn btn-primary pull-right" *ngIf="!inn" type="button" value="Enter to Inn!" (click)="gotoInn()">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-stripped" *ngIf="hero.task.length">
                <thead>
                    <tr>
                        <td>{{ hero.name || uppercase }} Journal:</td>
                    </tr>
                    <tr>
                        <td>ID:</td>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Reward:</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tsk of tasks">
                        <td>{{ tsk.id }}</td>
                        <td>{{ tsk.title }}</td>
                        <td>{{ tsk.description }}</td>
                        <td>{{ tsk.reward }}</td>
                    </tr>
                </tbody>
                
            </table>
            <div *ngIf="!hero.task.length">
                <span>
                    Currently you have no active tasks in journal. Try talk to Innkeeper to get some...
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <input type="button" value="Go to Work" (click)="goWork( hero )">
                <ul>
                    <li>Damage: {{ hero.class.damage }}</li>
                    <li>Health: {{ hero.class.health }}</li>
                    <li>Power: {{ hero.class.power }}</li>
                    <li>Wallet: {{ hero.wallet }}</li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <ul>Item Shop <button (click)="getRumors()">Rumors</button><span *ngIf="randomRumor">{{ randomRumor.rumor }}</span><button (click)="merchantAction()">checkTask</button>
                <li *ngFor="let item of shopItems" (click)="itemShopSelected(item)"><span>{{ item.name }}</span><span>&nbsp;x{{ item.amount }}</span></li>
            </ul>
        </div>
        <div class="col-sm-4" *ngIf="selectedItem">
            {{ selectedItem.name }}
            {{ selectedItem.price }}&nbsp;gold
            <div>
                <input type="button" name="" value="Buy" (click)="shopAction(selectedItem)">
            </div>
        </div>
        <div class="col-sm-4">
            <span *ngFor="let itm of hero.items" >{{ itm.name }}&nbsp;x{{ itm.amount }}&nbsp;</span>
        </div>
    </div>
</div>

