<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Available Heroes:</h3>
                </div>
                <div class="list-group">
                    <a class="list-group-item" *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.active]="hero === selectedHero">{{ hero.name }}</a>
                </div>
            </div>


        </div>
        <div *ngIf="selectedHero" class="col-md-3">

            <div class="thumbnail">
                <img src="{{ selectedHero.imageUrl }}" alt="...">
                <div><span *ngFor="let item of selectedHero.items" >{{ item.name }}&#44;&nbsp;</span></div>
                <div class="caption">
                    
                    <h3>{{ selectedHero.name }}</h3>
                    <p>{{ selectedHero.bio }}</p>
                    <p><a class="btn btn-primary" role="button" (click)="goDetail()">Edit</a> <a class="btn btn-default" role="button" (click)="onCloseQB()">Close</a></p>
                </div>
            </div>

        </div>
    </div>
</div>

              