<h3>Hello from home</h3>
<div style="position: relative;">
    <div id="world" class="wrapper">
        <div *ngFor="let cell of world">
            <div class="tile-generic" *ngFor="let col of cell; let j=index">{{ cell[j].id }}
                <img *ngIf="cell[j].tile" class="cell_big" src="{{ cell[j].tile }}" />
            </div>
        </div>

    </div>
    <div style="position: absolute; top:0;">
        <div *ngFor="let m of moveArea">
            <div class="tile-generic-2" *ngFor="let k of m; let j=index" (click)="doAction(m[j])">
                {{ m[j].id }}
                <img *ngIf="m[j].tile" class="cell_big" src="{{ m[j].tile }}" />
            </div>
        </div>
    </div>

    <button style="position: relative; display:block; margin-left: 600px;" type="text" (click)="fillGrass()">Grass</button>
    <button style="position: relative; display:block; margin-left: 600px;" type="text" (click)="createPlayer()">Hero</button>
</div>